/*-- scss:defaults --*/

// use litera as the base
$theme: "litera" !default;

// import google fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap';

// use Atkinson Hyperlegible font if available
$font-family-sans-serif:  "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

/*-- scss:rules --*/

// litera is serif by default: revert to san-serif
p {
  font-family: $font-family-sans-serif;
}

$dark-blue: #213D4F !default;
$darkest-blue: #17212B !default;
$light-blue: #A2B8CB !default; 
$lightest-blue: #D1DBE5 !default;
$light-orange: #E58066 !default;
$bright-orange: #9A4665 !default;
$green: #57733D !default;

$font-family-sans-serif: Open-Sans !default;
$font-family-monospace: Source-Code-Pro !default;

/*
$body-bg: $lightest-blue !default;
$body-color: $darkest-blue !default;
$link-color: $bright-orange !default;
$navbar-bg: $lightest-blue !default;
$navbar-fg: $darkest-blue !default;
$navbar-hl: $bright-orange !default;
*/

$body-bg: $lightest-blue !default;
$body-color: $lightest-blue !default;

//  Customize the navbar
$navbar-bg: #ffffff;
$navbar-fg: #888888;
$navbar-hl: #000000;
$navbar-brand: $body-color;
$navbar-brand-hl: $navbar-brand;
$nav-tabs-link-active-color: $lightest-blue;
$nav-tabs-link-active-bg: $lightest-blue;

.mycards-container {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-content: space-evenly !important;
}

.mycard {
  position: relative !important;
  padding: .25em;
  border: 1px solid $dark-blue !important;
  border-radius: 6px;
  min-width: 200px !important;
  max-width: 300px !important;
  margin: .5em !important;
}

.mycard-title {
  display: block !important;
  font-family: 'Source Code Pro', monospace !important;
  font-weight: 700 !important;
  font-size: 1em !important;
  margin: 0 !important;
}

.mycard-description {
  display: block !important;
  font-size: .9em !important;
  font-weight: 300 !important;
  white-space: break-spaces;
}

.mycard-pics-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-top: .5em;
}

.mycard-portrait,  {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mycard-portrait .quarto-figure {
  margin-bottom: 0;
  padding-bottom: 0;
}

.cs-name {
  color: $bright-orange;
}

.mycard-link {
  color: $darkest-blue !important;
  font-weight: 400 !important;
  font-size: .9em !important;
  display: block !important;
  position: absolute !important;
  bottom: -15px !important;
  left: 5px !important;
  margin-top: 1rem !important;
}

.mycard-link::before {
  display: block;
  content: "\a";
  white-space: pre;
}

.mycard-link a {
  color: $bright-orange !important;
  font-weight: 400 !important;
  font-size: .9em !important;
}

.mycard-link::after {
  display: block;
  content: "\a";
  white-space: pre;
}

.mycard-link a:hover {
  color: $light-orange !important;
}

.mycard-description::after {
  display: block;
  content: "\a";
  white-space: pre;
}

.icon-sep {
  display: block;
  background: $white;
  width: 100%;
  height: 0px;
  margin: auto;
  display: table;
  margin-top: -6px;
  margin-bottom: -6px;
}

.icon-upper {
  font-family: $font-family-sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
}

.icon-lower {
  font-family: $font-family-sans-serif;
  font-size: 0.85rem;
  font-weight: 300;
  text-align: center;
}

